@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Georama:wght@100;200;300;400;600;700&display=swap');

:root {
    background-color: #F7FAFC;
    font-family: 'Georama', sans-serif;
    font-size: 1rem;
}

.bg-gradient {
    background: linear-gradient(#f1afb1 0%, #f086a2 100%, #808080 100%);
}